ul.data > li > a.actions .action,
ul.data > li > span.actions .action,
ul.data > li > div.actions .action{
  img {
    height: 1.3em;
  }
}

.styled-select select:focus {
  outline: none;
}

.get-flash img {
  width: 300px;
}

.get-flash .modal-close .close-button i {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.styled-select {
  select {
    width: 120%;
    background-position: 83%;
  }
}

div.medium-width{
  select {
    width: 142%;
    background-position: 67%;
  }
}

.inline-select {
  .styled-select {
    select {
      width: 130%;
      background-position: 76%;

      @media only (max-width: 71em) {
        width: 120%;
        background-position: 83% center;
      }
    }
  }
}

.filter-controls {
  .styled-select {
    select {
      width: 136%;
      background-position: 71%;

      @media only (max-width: 71em) {
        width: 120%;
        background-position: 83% center;
      }
    }
  }
}

#statement-type {
  select {
    width: 145%;
    background-position: 65% center;

    @media only (max-width: 71em) {
      width: 115%;
      background-position: 87% center;
    }
  }
}

.title-buttons {
  text-align: right;
  padding-bottom: 1em;

  @media only (max-width: 40em) {
    padding-bottom: 0;
  }
}