<!--[if lt IE 10]>
<div class="upgrade-your-browser" ng-hide="continueAnyway">

    <header>
        <img src="assets/images/logo.png">
    </header>

    <div class="text-center">
        <h2>Update Your Browser</h2>
            <h3>Using an outdated browser may negatively affect your security while banking online.</h3>
            <h3>Please update, or download a different browser.</h3>

        <div class="browsers">
            <ul class="medium-block-grid-3 small-block-grid-1 middle">
                <li class="browser ie">
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <div class="icon"></div>
                        Download latest Internet Explorer
                    </a>
                </li>

                <li class="browser chrome">
                    <a href="https://www.google.com/chrome/browser/">
                        <div class="icon"></div>
                        Download latest Chrome
                    </a>
                </li>

                <li class="browser firefox">
                    <a href="http://www.mozilla.com/firefox">
                        <div class="icon"></div>
                        Download latest Firefox
                    </a>
                </li>
            </ul>
        </div>

        <!--[if IE 9]>
        <div>
            <button class="secondary" ng-click="continueAnyway = true">Continue anyway</button>
        </div>
        <![endif]-->
    </div>
</div>
<![endif]-->
