<h2 id="taxFreeCallAccountProductsTitle">Apply for Savings Account</h2>
<div class="account-products well wide tax-free-call-account-details">
    <section class="product-row no-separator">
        <div class="page-heading-row">
            <h3 class="hide-on-print" id="productHeader">Tax-Free Call Account</h3>
            <div class="application-status-text show-for-small-only">
                <p>Invest up to R 30 000 a year and a maximum of R 500 000 in your lifetime - and get tax-free returns on your contributions</p>
            </div>
            <div class="show-for-medium-up">
                <savings-prescreening product-type="tax-free-call-account"></savings-prescreening>
            </div>
        </div>
        <img class="show-for-large-up" src="assets/images/TaxFreeCallAccount.jpg" alt="Tax-Free Call Account"/>

        <div class="application-status-text show-for-medium-up">
            <p>Invest up to R 30 000 a year and a maximum of R 500 000 in your lifetime - and get tax-free returns on your contributions</p>
        </div>
        <div class="show-for-small-only">
            <savings-prescreening product-type="tax-free-call-account"></savings-prescreening>
        </div>
    </section>

    <section>
        <div class="product-information">
            <div>
                <div class="well-container large-well" id="taxFreeCallAccountAccountDescription">
                    <section>
                        <h3>Highlights</h3>
                        <ul>
                            <li>Earn tax-free interest on your investment</li>
                            <li>Gain higher interest for a higher balance</li>
                            <li>Re-invest your gains, or have your interest paid out monthly</li>
                            <li>Access your deposited funds at any time</li>
                            <li>Add funds when and how you like, such as by once-off deposit and stop order</li>
                        </ul>
                    </section>
                    <section>
                        <h3>How to qualify</h3>
                        <ul>
                            <li class="no-padding-bottom">You can submit an opening deposit of <span class="rand-amount">R 250</span>
                            <br /> AND</li>
                            <li class="no-vertical-padding">You are a South African citizen
                            <br /> OR</li>
                            <li class="no-padding-top">As a non-South African citizen, you have a valid passport, work permit or study permit</li>
                        </ul>
                    </section>
                </div>
                <div>
                    <div class="well small-well information-box margin-bottom" id="taxFreeCallAccountAccountDescriptionTwo">
                        <section>
                            <h3>What it costs</h3>
                            <ul>
                                <li>
                                    <a href="https://www.standardbank.co.za/standimg/South%20Africa/PDF/Pricing%202016/223103%20Tax%20free%20savings_2016_LR-Final.pdf" target="_blank" track-click="View Tax-Free Call Account pricing quote_View pricing" id="pricingGuide">Tax-Free Call Account pricing (PDF)</a>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <h3>What you'll need</h3>
                            <ul>
                                <li>A minimum deposit of <span class="rand-amount">R 250</span> to open the account online</li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div class="well small-well information-box" id="taxFreeCallAccountAccountDescriptionThree">
                    <section>
                        <h3 class="no-space-bottom">Interest rate table</h3>
                        <table class="thin-margin-bottom thin-margin-top">
                            <thead class="no-bottom-border">
                            <tr>
                                <th class="font-weight-normal">Balance bands</th>
                                <th class="font-weight-normal">Nominal</th>
                                <th class="font-weight-normal">Effective</th>
                            </tr>
                            </thead>
                            <tbody class="no-alternating-row-background">
                            <tr>
                                <td class="text-light">R 0 - <br class="show-for-small-only" />R 249</td>
                                <td class="text-light">0.00%</td>
                                <td class="text-light">0.00%</td>
                            </tr>
                            <tr>
                                <td class="text-light">R 250 - <br class="show-for-small-only" />R 4 999</td>
                                <td class="text-light">5.90%</td>
                                <td class="text-light">6.06%</td>
                            </tr>
                            <tr>
                                <td class="text-light">R 5 000 - <br class="show-for-small-only" />R 9 999</td>
                                <td class="text-light">6.05%</td>
                                <td class="text-light">6.22%</td>
                            </tr>
                            <tr>
                                <td class="text-light">R 10 000 - <br class="show-for-small-only" />R 19 999</td>
                                <td class="text-light">6.20%</td>
                                <td class="text-light">6.38%</td>
                            </tr>
                            <tr>
                                <td class="text-light">R 20 000 - <br class="show-for-small-only" />R 29 999</td>
                                <td class="text-light">6.35%</td>
                                <td class="text-light">6.54%</td>
                            </tr>
                            <tr>
                                <td class="text-light">R 30 000 <br class="show-for-small-only" />and more</td>
                                <td class="text-light">6.50%</td>
                                <td class="text-light">6.70%</td>
                            </tr>
                            </tbody>
                        </table>
                        <small>These rates are effective from 29 January 2016</small>
                    </section>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>
<div class="clear"></div>
<br />
<a href="#/apply/savings-and-investments" class="btn secondary" track-click="Banking solutions for you_Tax-Free Call Account_Details_Back to banking solutions">Back to Savings and Investments</a>

