<div class="debit-order-switching">
    <h2 class="clear">Simple Debit Order Switching</h2>

    <flow class="wide"></flow>

    <div class="debit-order-switching well wide">
        <div class="sections">
            <section>
                <div class="row">
                    <div class="small-12 large-9 columns">
                        <div class="row">
                            <h3>We're with you every step</h3>
                            <ul>
                                <li>Standard Bank can move all your debit orders from your old account to your new
                                    account
                                </li>
                                <li>This service is optional and completely free</li>
                                <li>We'll call you to confirm your current debit order details, and keep you up to date
                                    on our progress by SMS
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <h3 class="margin-top-large">What you need to do</h3>
                            <ul>
                                <li><strong>Keep money in both your old and new accounts until all your
                                    debit orders are successfully switched</strong>
                                </li>

                                <li>Occasionally, a service provider will not accept our request to switch your debit
                                    order.
                                    If this happens, please contact your service provider yourself and ask for the
                                    switch
                                </li>
                                <li>Once all your debit orders are switched over, you can close your old account</li>
                            </ul>
                        </div>
                    </div>
                    <div class="box pull-right small-12 large-3 columns">
                        <p>
                            <strong>Queries? Call Customer Care: <span class="no-wrap">0860 123 000.</span></strong>
                            <br/><br/>
                            Operating hours<br/><br/>
                            <span class="no-wrap">Weekdays: 7:30am - 9pm</span><br/>
                            <span class="no-wrap">Saturdays: 7:30am - 4pm</span><br/>
                            <span class="no-wrap">Sundays & Holidays: 8am - 4pm</span>
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="actions">
                    <button class="primary" id="switch" ng-click="switchDebitOrder()"
                            track-click="apply:current-account:DOS:switch-orders"
                            data-dtmid="link_content_account application"
                            data-dtmtext="Switch for free button click">Switch for free
                    </button>
                    <button class="secondary" id="decline" ng-click="doNotSwitchDebitOrder()"
                            data-dtmid="link_content_account application"
                            data-dtmtext="Do not switch button click">No thanks</button>
                </div>
            </section>
        </div>
    </div>
</div>