@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?k6nwjv');
  src:url('../../fonts/icomoon.eot?#iefixk6nwjv') format('embedded-opentype'),
  url('../../fonts/icomoon.woff?k6nwjv') format('woff'),
  url('../../fonts/icomoon.ttf?k6nwjv') format('truetype'),
  url('../../fonts/icomoon.svg?k6nwjv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.5em;
}

.icomoon-dropdown:before {
  content: "\E809";
}

.icomoon-search:before {
  content: "\e600";
}

.icomoon-close:before {
  content: "\E60B";
}

.icomoon-delete:before {
  content: "\E80B";
}

.icomoon-edit:before {
  content: "\E80C";
}

.icomoon-scheduled:before {
  content: "\E806";
}

.icomoon-calendar:before {
  content: "\E808";
}

.icomoon-remove:before {
  content: "\E804";
}

.icomoon-bills:before {
  content: "\E807";
}

.icomoon-onceoff:before {
  content: "\E801";
}

.icomoon-pay:before {
  content: "\E80D";
}

.icomoon-inter:before {
  content: "\E802";
}

.icomoon-traffic:before {
  content: "\E803";
}

.icomoon-prepaid:before {
  content: "\E805";
}

.icomoon-beneficiaries:before {
  content: "\E810";
}

.icomoon-beneficiary:before {
  content: "\E811";
}

.icomoon-add-beneficiary:before {
  content: "\E813";
}

.icomoon-close-circle:before {
  content: "\E81F";
}

.icomoon-info:before {
  content: "\E817";
}

.icomoon-instant-money:before {
  content: "\E81D";
}

.icomoon-print-circle:before {
  content: "\E820";
}

.icomoon-print:before {
  content: "\E81B";
}

.icomoon-resend:before {
  content: "\E82D";
}

.icomoon-add:before {
  content: "\E825";
}

.icomoon-filter:before {
  content: "\E827";
}

.icomoon-success:before {
  content: "\E81A";
}

.icomoon-add-group:before {
  content: "\E80F";
}

.icomoon-pay-group:before {
  content: "\E812";
}

.icomoon-chevron-down:before {
  content: "\E81E";
}

.icomoon-chevron-left:before {
  content: "\E821";
}

.icomoon-chevron-right:before {
  content: "\E822";
}

.icomoon-chevron-up:before {
  content: "\E823";
}

.icomoon-download:before {
  content: "\E81C";
}

.icomoon-back-to-top:before {
  content: "\E826";
}

.icomoon-alert:before {
  content: "\E80E";
}

.icomoon-pending:before {
  content: "\E836";
}

.icomoon-products:before {
  content: "\E814";
}

.icomoon-switch-dashboard:before {
  content: "\E824";
}

.icomoon-account-number:before {
  content: "\E819";
}

.icomoon-prepaid-history:before {
  content: "\E815";
}

.icomoon-account:before {
  content: "\E82C";
}

.icomoon-profile:before {
  content: "\E830";
}

.icomoon-security:before {
  content: "\E834";
}

.icomoon-transaction-history:before {
  content: "\E835"
}

.icomoon-view-scheduled-prepaid:before {
  content: "\E832"
}

.icomoon-payment-notifications:before {
  content: "\E82E"
}

.icomoon-view-scheduled-payments:before {
  content: "\E837"
}

.icomoon-overdraft:before {
  content: "\E833"
}

.icomoon-email-circle:before {
  content: "\E83A"
}

.icomoon-email:before {
  content: "\E839"
}

.icomoon-arrow-down:before {
  content: "\E828"
}

.icomoon-arrow-left:before {
  content: "\E829"
}

.icomoon-arrow-right:before {
  content: "\E82B"
}

.icomoon-arrow-up:before {
  content: "\E83B"
}

.icomoon-home:before {
  content: "\E82A"
}

.icomoon-change-monthly-limit:before {
  content: "\E83F"
}

.icomoon-international-payment:before {
  content: "\E83E"
}

.icomoon-tick:before {
  content: "\E83C"
}

.icomoon-call:before {
  content: "\E83D"
}

