<div class="accordion-container">

    <div class="accordion-tab" ng-repeat="item in items">
        <div id="{{item.id}}" class="accordion-tab-title" ng-click="openTab(item.name)" track-click="{{'More Details: ' + item.name}}">
            <a>
                {{moreDetails(item.name)}}
                <i class="icon" ng-class="{'icomoon-chevron-down': !isOpenTab(item.name), 'icomoon-chevron-up': isOpenTab(item.name)}"></i>
            </a>
            <h4>{{item.name}}</h4>
            <small>{{item.tagLine}}</small>
        </div>
        <div ng-include src="item.partial" class="accordion-tab-content" ng-show="isOpenTab(item.name)"></div>
    </div>

</div>