<div class="row">
    <div class="large-12 medium-12 columns">
        <div class="happens-next-private-banking-section">
            <p><strong>Confirming your application</strong></p>
            <ul>
                <li>
                    You should receive an SMS within 24 hours after you apply.
                    If you don't receive the SMS, please call 0860 123 101
                </li>
                <li>You will receive a confirmation SMS as soon as your money is transferred into your account</li>
            </ul>
        </div>
        <div class="happens-next-private-banking-section">
            <p>Your Private Banker will contact you to let you know what the next steps are.
                Please don't hesitate to contact us at 0860 123 101 or <a
                        href="mailto:privatebanking@standardbank.co.za">privatebanking@standardbank.co.za</a></p>
        </div>
    </div>
</div>
