.invitation-heading {
  margin-bottom: 12px;
}

.invitation-permissions {
  font-weight: bold;
  font-size: smaller;
  margin-left: 11px;
}

.permission {
  font-size: small;
  font-weight: bolder;
}

.permissions-box {
  border: 1em;
  background-color: #EDEDED;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-box {
  margin-top: 14px;
}

.close-btn{
  margin: 8px;
  }

.modal-buttons{
  margin-top: 13px;
}
.modal-box{
  width: 27em;
  padding: 0;
  padding-bottom: 2em;
  text-align: left
}
.modal-text{
  font-size: 18px;
}
.close-modal{
  padding-bottom: 22px;
}
