<div>
    <h2>Change Password</h2>
</div>

<div ng-show="errorMessage" error notification>{{errorMessage}}</div>

<form name="changePasswordForm" class="panel" autocomplete="off" novalidate ng-submit="changePassword()">
    <section>
        <div>
            <label for="oldPassword">Old password</label>
            <input type="password" id="oldPassword" name="oldPassword" ng-model="changePasswordModel.oldPassword" required focus-on
                   ng-class="{'show-validation-styles': changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted}" />
            <ng-messages for="changePasswordForm.oldPassword.$error" ng-show="changePasswordForm.oldPassword.$touched || changePasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
            </ng-messages>
        </div>
    </section>

    <section>
        <div>
            <label for="newPassword">New password</label>
            <a href="javascript:void(0)" name="For extra security, choose a unique password that you don't use anywhere else" aria-label="For extra security, choose a unique password that you don't use anywhere else" class="sb-tooltip" tabindex="-1">
                <i class="icon icon-question-circle"></i>
            </a>
            <input type="password" id="newPassword" name="newPassword" ng-model="changePasswordModel.password"
                   required ng-class="{'show-validation-styles': changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched || changePasswordForm.$submitted}"
                   ng-minlength="configuration.password.minLength" ng-maxlength="configuration.password.maxLength" ng-pattern="'{{configuration.password.pattern}}'"/>
            <ng-messages for="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.newPassword.$dirty || changePasswordForm.newPassword.$touched || changePasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
                <ng-message class="form-error" when="minlength">Must be at least {{configuration.password.minLength}} characters long</ng-message>
                <ng-message class="form-error" when="maxlength">Cannot be longer than {{configuration.password.maxLength}} characters</ng-message>
                <ng-message class="form-error" when="pattern">Please enter a valid password</ng-message>
            </ng-messages>
            <div class="description" ng-class="{ 'invalid-input': (changePasswordForm.newPassword.$touched || changePasswordForm.newPassword.$dirty || changePasswordForm.$submitted) && changePasswordForm.newPassword.$invalid }">Must contain at least 1 UPPERCASE, 1 lowercase, 1 number and a minimum of 8 alphanumeric characters</div>
        </div>
    </section>

    <section>
        <div>
            <label for="confirmPassword">Confirm new password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" ng-model="changePasswordModel.confirmPassword"
                   required ng-class="{'show-validation-styles': changePasswordForm.confirmPassword.$dirty || changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted}"
                   must-equal="newPassword" />
            <ng-messages for="changePasswordForm.confirmPassword.$error" ng-show="changePasswordForm.confirmPassword.$dirty || changePasswordForm.confirmPassword.$touched || changePasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
                <ng-message class="form-error" when="mustEqual">The two passwords do not match</ng-message>
            </ng-messages>
        </div>
    </section>

    <button id="save-password" type="submit" class="primary" ng-disabled="changePasswordForm.$invalid">
        Save
    </button>
    <button id="cancel" class="button secondary" ng-click="goHomePage()">Cancel</button>
</form>
