<h2>Reset Password</h2>

<div flow></div>

<div ng-show="errorMessage" error notification>{{errorMessage}}</div>

<form name="resetPasswordForm" class="panel" autocomplete="off" novalidate ng-submit="resetPassword()">

    <section>
        <div>
            <label for="username">Email address</label>
            <input type="text" id="username" name="username" ng-model="authenticationDetails.username"
                   required ng-class="{'show-validation-styles': resetPasswordForm.username.$touched || resetPasswordForm.$submitted}"
                   ng-maxlength="configuration.email.maxLength" ng-pattern="'{{configuration.email.pattern}}'" focus-on/>
            <ng-messages for="resetPasswordForm.username.$error" ng-show="resetPasswordForm.username.$touched || resetPasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
                <ng-message class="form-error" when="maxlength">Cannot be longer than {{configuration.email.maxLength}} characters</ng-message>
                <ng-message class="form-error" when="pattern">Please enter a valid email address</ng-message>
            </ng-messages>
        </div>
    </section>

    <section>
        <div>
            <label for="newPassword">New password</label>
            <a href="javascript:void(0)" name="For extra security, choose a unique password that you don't use anywhere else" aria-label="For extra security, choose a unique password that you don't use anywhere else" class="sb-tooltip" tabindex="-1">
                <i class="icon icon-question-circle"></i>
            </a>
            <input type="password" id="newPassword" name="newPassword" ng-model="authenticationDetails.newPassword"
                   required ng-class="{'show-validation-styles': resetPasswordForm.newPassword.$dirty || resetPasswordForm.newPassword.$touched || resetPasswordForm.$submitted}"
                   ng-maxlength="configuration.password.maxLength" ng-pattern="'{{configuration.password.pattern}}'"/>
            <ng-messages for="resetPasswordForm.newPassword.$error" ng-show="resetPasswordForm.newPassword.$dirty || resetPasswordForm.newPassword.$touched || resetPasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
                <ng-message class="form-error" when="maxlength">Cannot be longer than {{configuration.password.maxLength}} characters</ng-message>
                <ng-message class="form-error" when="pattern">Please enter a valid password</ng-message>
            </ng-messages>
            <div class="description" ng-class="{ 'invalid-input': (resetPasswordForm.newPassword.$dirty || resetPasswordForm.newPassword.$touched || resetPasswordForm.$submitted) && resetPasswordForm.newPassword.$invalid }">Must contain at least 1 UPPERCASE, 1 lowercase, 1 number and a minimum of 8 alphanumeric characters</div>
        </div>
    </section>

    <section>
        <div>
            <label for="confirmPassword">Confirm new password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" ng-model="authenticationDetails.confirmPassword"
                   required ng-class="{'show-validation-styles': resetPasswordForm.confirmPassword.$touched || resetPasswordForm.$submitted}"
                   must-equal="newPassword" />
            <ng-messages for="resetPasswordForm.confirmPassword.$error" ng-show="resetPasswordForm.confirmPassword.$touched || resetPasswordForm.$submitted" >
                <ng-message class="form-error" when="required">Required</ng-message>
                <ng-message class="form-error" when="mustEqual">The two passwords do not match</ng-message>
            </ng-messages>
        </div>
    </section>

    <button id="next" ng-disabled="!resetPasswordForm.$valid" type="submit">
        Next
    </button>

    <a id="cancel" class="button secondary" ng-click="cancel()">
        Cancel
    </a>
</form>
