.pay-beneficiary {
  .repeat-payment-options {
    overflow: auto;
  }

  .repeat-payment-option {
    float: left;
    margin-right: 10px;
    width: 20%;

    @media #{$small-only} {
      width: 32%;
    }

    input {
      width: 100%;
    }
  }

  @media #{$small-only} {
    .repeat-payment-option:nth-child(2) {
      width: 20%;

      input {
        height: 2.9em;
      }
    }
  }

  .inline-label {
    position: relative;
    top: 33px;
  }

  .repeat-number-error {
    clear: left;
    display: block;
    padding-top: 0;

    @media #{$small-only} {
      padding-left: 0;
    }
  }

  .checkbox-container {
    padding-top: 0.5em;
    padding-left: 0.5em;
    float: left;

    @media #{$small-only} {
      padding-left: 0;
    }

    label {
      display: inline;
    }
    input[type=checkbox] {
      margin-left: 1em;

      @media #{$small-only} {
        margin-left: 0;
      }
    }
  }

  sb-datepicker {
    padding-left: 0;
  }
}
