.product-container {
  border: 1px solid $silver-grey;

  .buttons-container {
    margin-top: 2em;
    @media #{$medium-up} {
      height: 4em;
    }
  }

  .account-number {
    @include span-columns(12);
  }

  .account-information {
    background-color: $silver-grey-light;
    padding: 10px;
    margin-top: 1em;
  }

  @media #{$large-up} {
    .product-content {
      margin-top: 1rem;
    }
  }
}

.account-products {
  @include separated-sections;

  .product-content {
    .text-notification {
      &:before {
        float: left;
        margin-top: -0.3em;
        padding: 0 0.5em;
      }
    }
  }

  .text-notification {
    margin-bottom: 2em;
  }

  &.add-product-content-height {
    @media #{$large-up} {
      .product-content {
        height: 10em;
      }
    }
  }

  section {
    &.no-separator {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .small-well {
    section {
      &:nth-child(2) {
        padding-top: 0;
      }
    }
  }

  .what-happens-next-column {
    @extend .columns;
    @extend .medium-6;
  }

  .what-happens-next-disclaimer {
    @extend .columns;
    @extend .small-12;
  }

  .happens-next-private-banking-section {
    padding: 0.5em 0;

    p {
      margin-top: 0em;
    }
  }
}

.accordion-container {
  .accordion-tab {
    background-color: $background-color;
    margin-top: 2px;
  }

  .accordion-tab-title {
    cursor: pointer;
    padding: 1em 2em;

    a {
      float: right;
      line-height: 2em;
      color: $azure-blue;
      text-decoration: none;

      i {
        float: right;
        margin-left: 0.3em;
        font-size: 2em;
        font-weight: bold;
      }
    }

    h4 {
      padding: 0;
      color: $gunmetal;
      font-weight: normal;
    }

    small {
      color: $slate-grey;
    }
  }

  .accordion-tab-content {
    border-top: 1px solid $azure-blue;
  }
}