.pure-save-details {
  h3.no-space-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  ul li.no-padding-bottom {
    padding-bottom: 0 !important;
  }
  ul li.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  ul li.no-padding-top {
    padding-top: 0 !important;
  }
}


