<section>
    <sb-input name="password"
          label="{{NewPasswordLabel}}"
          ng-model="password"
          ng-required="true"
          ng-minlength="configuration.password.minLength"
          ng-maxlength="configuration.password.maxLength"
          ng-pattern="'{{configuration.password.pattern}}'"
          pattern-message="Please enter a valid password"
          type="password"
          description='Must contain at least 1 UPPERCASE, 1 lowercase, 1 number and a minimum of 8 alphanumeric characters'
          tooltip="For extra security, choose a unique password that you don't use anywhere else"
        >
    </sb-input>
</section>

    <section>
        <sb-input name="confirmPassword"
          label="{{ConfirmationLabel}}"
          ng-model="confirmPassword"
          ng-required="true"
          ng-maxlength="20"
          confirm-input-name = "password"
          confirmation-message="The two passwords do not match"
          type="password">
    </sb-input>
</section>