<h2>Activate Your One-time Password (OTP)</h2>
<div class="form-layout-top">
    <div flow></div>
    <div class="panel">
        <div class="summary">
            <div class="summary-row"><div><span>Preferred method</span><span id="confirm-type">{{otpPreferences.preferredMethod}}</span></div></div>
            <div class="summary-row">
                <div>
                    <span ng-show="otpPreferences.preferredMethod === 'SMS'">Cell phone number</span>
                    <span ng-show="otpPreferences.preferredMethod === 'Email'">Email address</span>

                <span
                        not-feature="caterForInternationalOnActivateOtp"
                        ng-show="otpPreferences.preferredMethod === 'SMS'"
                        id="confirm-phone-number">{{otpPreferences.cellPhoneNumber}}
                </span>

                <span
                        feature="caterForInternationalOnActivateOtp"
                        ng-show="otpPreferences.preferredMethod === 'SMS'"
                        id="confirm-phone-number-international">+{{otpPreferences.contactDetails.internationalDialingCode}}-{{otpPreferences.contactDetails.cellPhoneNumber | cellPhoneNumber}}
                </span>
                    <span ng-show="otpPreferences.preferredMethod === 'Email'" id="confirm-email-address">{{otpPreferences.emailAddress}}</span>
                </div>
            </div>
        </div>

        <button id="activate" ng-click="activate()" class="confirm" data-dtmid="link_content_content link" data-dtmtext="activate otp | activate button click">Activate</button>
        <button id="modify" class="secondary modify" ng-click="modify()" data-dtmid="link_content_content link" data-dtmtext="activate otp | modify button click">Modify</button>
    </div>
</div>


