<h2 class="savings-and-investments">Savings and Investments</h2>
<div class="account-products well wide savings-and-investments">
    <ul class="large-block-grid-3 small-block-grid-1">
        <li>
            <savings-product-tile product-title="PureSave"
                                  product-description="Simple savings with instant access to your money"
                                  product-image-url="assets/images/PureSave.jpg"
                                  product-type="pure-save"
                                  details-page-url="/apply/pure-save"></savings-product-tile>
        </li>
        <li>
            <savings-product-tile product-title="MarketLink"
                                  product-description="An investment account with the flexibility of a current account"
                                  product-image-url="assets/images/MarketLink.jpg"
                                  product-type="market-link"
                                  details-page-url="/apply/market-link"></savings-product-tile>
        </li>
        <li>
            <savings-product-tile product-title="Tax-Free Call Account"
                                  product-description="Save up to R 30 000 a year -- tax free"
                                  product-image-url="assets/images/TaxFreeCallAccount.jpg"
                                  product-type="tax-free-call-account"
                                  details-page-url="/apply/tax-free-call-account"></savings-product-tile>
        </li>
    </ul>
</div>
<div class="clear"></div>
<br/>
<a href="#/apply" class="btn secondary">Back to Banking Solutions</a>
