.rand-amount {
  white-space: nowrap;
}

.no-padding {
  padding: 0;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-left {
  padding-left: 1rem;
}

.padding-right {
  padding-right: 1rem;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}