<ng-include src="'features/transfers/partials/summary.html'"></ng-include>

<div>
    <div>
        <button id='transfer' ng-click="transfer()" class="primary" data-dtmid="link_content_transfer between accounts" data-dtmtext="step 2 | transfer button click">
            Transfer
        </button>

        <button id='modify' ng-click="modify()" class="secondary" data-dtmid="link_content_transfer between accounts" data-dtmtext="step 2 | modify button click">
            Modify
        </button>
        <button go-back id="cancel" class="tertiary" data-dtmid="link_content_transfer between accounts" data-dtmtext="step 2 | cancel button click">Cancel</button>
    </div>
</div>