<div class="page-heading-row" ng-init="initialize()">
    <h2>Transfer Between Your Accounts</h2>
</div>

<div class="form-layout-main">
    <div success notification ng-show="isSuccessful">Transfer was successful</div>
    <div error notification ng-show="errorMessage">{{ errorMessage }}</div>

    <div flow ng-hide="!transferPossible || finished()"></div>


    <div ng-show="!transferPossible" class="notification warn">
        You don't have any accounts to transfer between
    </div>

    <div class="notification info" ng-show="transferPossible && editing()">
        Transfers from a Standard Bank account to a Credit Card account take up to 1 business day
    </div>
    <div ng-show="transferPossible && editing()">
        <div ng-hide="isSuccessful" ng-include src="'features/transfers/partials/input.html'"></div>
    </div>

    <div class="panel" ng-hide="editing()">
        <div name="summary" ng-show="confirming()" ng-include
             src="'features/transfers/partials/confirmation.html'"></div>
        <div name="summary" ng-show="finished() && !isError" ng-include
             src="'features/transfers/partials/success.html'"></div>
        <div name="summary" ng-show="finished() && isError" ng-include
             src="'features/transfers/partials/error.html'"></div>
    </div>
</div>