<div ng-show="showModal" class="modal-overlay">
    <div class="modal-container action-modal">
        <div class="text-center">
            <h3>{{title}}</h3>
        </div>

        <div class="modal-content">
            <div class=text-center margin-top>
                <div class="grey-text text-narrow modal-text" ng-transclude></div>
            </div>
        </div>

        <div class="text-center  button-box">

            <button class="button secondary"
                    ng-click="onConfirm()"
                    data-dtmid="obb_modal {{title}} {{confirmText}} button"
                    data-dtmtext="{{confirmText}} button click">
                {{confirmText}}
            </button>
            <button class="button secondary"
                    ng-click="onCancel()"
                    data-dtmid="obb_modal {{title}} {{cancelText}} button"
                    data-dtmtext="{{cancelText}} button click">
                {{cancelText}}
            </button>
        </div>
    </div>
</div>
