<div class="product-information">
    <div>
        <div class="well-container large-well">
            <section>
                <h3>Highlights</h3>
                <ul>
                    <li>Personalised Gold Cheque Card</li>
                    <li>Discount on a second account for your spouse or partner</li>
                    <li>Debit card cashback at selected Shoprite, Checkers, Spar, and Boxer outlets</li>
                    <li>Safe and easy payments with SnapScan MasterPass and Instant Money</li>
                    <li>Free cheque and debit card swipes</li>
                    <li>6 free Standard Bank ATM cash withdrawals</li>
                    <li>3 free ATM deposits</li>
                    <li>Free 24/7 self-service: Internet Banking, Mobile App, ATM, and cell phone banking</li>
                    <li>Free SMS security notifications with MyUpdates</li>
                    <li>Free monthly e-statements</li>
                    <li>Collect UCount points each time you swipe to purchase and spend your rewards at UCount
                        Online Mall</li>
                </ul>
            </section>

            <section>
                <h3>How to qualify</h3>
                <ul>
                    <li>
                        You earn a minimum gross monthly income of <span class="rand-amount">R 8 000</span>
                        <br/>
                        <br/>
                        OR
                    </li>
                    <li>
                        You have a 3-year degree or diploma and earn a minimum gross monthly income of <span class="rand-amount">R 5 000</span>
                    </li>
                </ul>
            </section>
        </div>

        <div class="well small-well">
            <section>
                <h3>What it costs</h3>
                <ul>
                    <li>Fixed monthly fee (Elite Plus) ̶ pay a single monthly management fee for a fixed number of
                        transactions and services
                    </li>
                    <li>Pay as you transact ̶ Pay for each transaction, and a minimum monthly service fee. We will
                        refund a portion of your service fees if you keep a specified daily minimum balance in your
                        account for a calendar month
                    </li>
                </ul>
            </section>

            <section>
                <p>
                    <a href="http://standardbank.co.za/standimg/South%20Africa/PDF/Pricing/Elite_Pricing.pdf" target="_blank" class="btn primary pricing-guide">Elite Banking pricing (PDF)</a>
                </p>
            </section>
        </div>
    </div>

    <div class="clear"></div>
</div>
