<div class="product-information">
    <div>
        <div class="well-container large-well">
            <section>
                <h3>Highlights</h3>
                <ul>
                    <li>Dedicated support from our team of Prestige Bankers</li>
                    <li>Apply for a home loan, personal loan or vehicle finance by meeting with your branch Prestige
                        Banker</li>
                    <li>Expert advice from financial planning consultants</li>
                    <li>Get an overdraft at a preferential rate</li>
                    <li>Simple day-to-day transactions with your Titanium Cheque Card</li>
                    <li>Pay no transaction fees on cheque card purchases</li>
                    <li>Get free basic travel insurance when travelling abroad</li>
                </ul>
            </section>

            <section>
                <h3>How to qualify</h3>
                <ul>
                    <li>
                        You earn a minimum gross monthly income of <span class="rand-amount">R 25 000</span>
                        <br/>
                        <br/>
                        OR
                    </li>
                    <li>You have a 3-year undergraduate degree with honours or higher</li>
                    <li>You earn a minimum gross monthly income of <span class="rand-amount">R 5 000</span></li>
                    <li>You are up to 30 years old</li>
                </ul>
            </section>

            <section>
                <h3>Additional information</h3>
                <ul>
                    <li>Secondary Prestige Current Account for your spouse or partner, who gains all Prestige benefits
                        at a discounted monthly rate</li>
                    <li>Secondary credit card for your spouse or partner, with a shared credit card limit</li>
                    <li>Free TravelWallet activation and loading</li>
                    <li>Free foreign exchange delivery to an approved business address in Gauteng, Cape Town, Durban
                        and Pietermaritzburg</li>
                </ul>
            </section>
        </div>

        <div class="well small-well">
            <section>
                <h3>What it costs</h3>
                <ul>
                    <li>Fixed monthly fee (Prestige Plus) ̶ Pay a single monthly management fee for a fixed number of
                        transactions and services</li>
                    <li>Pay as you transact ̶ Pay for each transaction, and a minimum monthly service fee. We will
                        refund a portion of your service fees if you keep a specified daily minimum balance in your
                        account for a calendar month</li>
                </ul>
            </section>

            <section>
                <p>
                    <a href="http://standardbank.co.za/standimg/South%20Africa/PDF/Pricing/Prestige_Pricing.pdf" target="_blank" class="btn primary pricing-guide">Prestige Banking pricing (PDF)</a>
                </p>
            </section>
        </div>
    </div>

    <div class="clear"></div>
</div>
